@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.nft_img{
  width: 100px;
}
.main_container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  width: 100%;
  /* height: 100vh; */
  margin-top: 10px;
  margin-bottom: 20px;
  /* border: 10px solid red; */
}
.left_panel{
  width: 100vw;
  position: relative;
  /* border: 5px solid blue; */
  /* float: left; */
  height: 50vh;
  margin: auto;
  padding: 15px;
}
.right_panel{
  width: 100%;
  position: relative;
  height: 100%;
}
iframe{
  
  position: relative;
  width: 90%;
  height: 100%;
}
.info{
  box-shadow:  2px 2px 2px 2px rgb(124, 123, 123);
  margin: 30px 5px;
  padding: 15px 5px;
  line-height: 2;
}
.certi_name_p{
  color: #00e6e6;
  font-style: italic;
  padding-left: 10px;
}
.certi_link:link, .certi_link:visited {
  background-color: #999999;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
.certi_link:hover{
  background-color: #bfbfbf;
}
@media screen and (min-width:769px){
  .main_container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    /* border: 10px solid red; */
  }
  .left_panel{
    width: 100%;
    position: relative;
    /* border: 5px solid blue; */
    /* float: left; */
    height: 100%;
    margin: auto;
    padding: 15px;
  }
  .right_panel{
    width: 100%;
    position: relative;
    /* border: 5px solid green; */
    /* float: right; */
    height: 100%;
  }
  .button_panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .btn{
    margin: 0 10px;
  }
}
@media screen and (max-width:768px) {
  .main_container{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  .certi_name_p{
    font-size: 1vw;
  }
  .certi_name_h1{
    font-size: 3vw;
    color: black;
  }
  .right_panel{
    width: 100%;
    position: relative;
  }
  .left_panel{
    width: 100%;
    position: relative;
    height: 50vh;
    margin: auto;
  }
  iframe{
    padding: 0;
    width: 90%;
    height: 90%;
    position: relative;
  }
  .btn{
    margin: 5px;
  }
  .main{
    display: grid;
    grid-template-columns: 1fr;
  }
  .button_panel{
    display: grid;
    grid-template-columns: 1fr;
}
}